body{
    margin: 0;
}
header{
    background: #3d3fae;
}
.container{
    width: 1000px;
    margin: auto;
    overflow: hidden;
}
.logo{
    width: 70%;
    float: left;
}

.logo img{
    width: 175px;
}
.menu{
    width: 30%;
    float: right;
    white-space: nowrap;
}
.menu{}
.menu-list{
    width: 100%;
    background: #3d3fae;
    padding: 25px;
}
.menu-list a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    background-color: #3d52aedb;
    box-sizing: border-box;
    border: 1px solid black;
    transition-duration: 0.4s;
}
.menu-list a:hover{opacity: 0.5;}
.about-myself{
    overflow: hidden;
    background: #E9EBEE;
    padding: 76px;
    box-shadow: 0 0 2px;
}
.details-about-myself{
    width: 70%;
    float: left;
}
.my-imege{
    width: 28%;
    float: right;
    border: 2px solid #00000066;
    box-shadow: 0 0 7px;
}
.my-imege img{
    width: 100%;
    transition-duration: 0.4s;
}
.my-imege img:hover{
    opacity: 0.5;
}
.Portfolio-gallary{
    background: #E9EBEE;
    padding: 50px;
}
.Portfolio-gallary h4{
    text-align: center;
    font-size: 26px;
    font-variant: all-small-caps;
    text-decoration: underline;
    margin: 0;
    padding: 50px;
}
.project-gallary{
    width: 25%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #9e9e9e29;
}
.project-gallary a{}
.project-gallary a img{
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    background-repeat:   no-repeat;
    background-size: cover;
    transition-duration: 0.4s;
}

.project-gallary a img:hover{
    opacity: 0.5;
}
.details-about-myself h2{
    font-size: 30px;
}
.details-about-myself h1{
    font-size: 33px;
}
.details-about-myself span{}


footer{
    background: #e3e3e3;
    padding: 10px 0;
}
.footer-menu{
    width: 50%;
    float: left;
}
.footer-menu ul{}
.footer-menu ul li{
    float: left;
    list-style: none;
}
.footer-menu ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    padding-right: 20px;
    transition-duration: 0.4s;
}
.footer-menu ul li a:hover{
    opacity: 0.5;
}

.socil-link{
    width: 50%;
    float: left;
}
.socil-link ul{
    text-align: right;
}
.socil-link ul li{
    list-style: none;
    display: inline;
    margin-left: 10px;
}
.socil-link ul li a{
    color: #333;
    border: 1px solid;
    display: inline-block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    transition-duration: 0.4s;
}
.socil-link ul li a:hover{
    background: #333;
    color: #efefef;